# Configuration files
!.github/*
.vsls.json

# Ignore trash files
~*/*
*.o
.*

# Ignoring stupidness
*.glade
build/*

# Ignore everything in data except `block0`
data/*
!data/blockchain
data/blockchain/*
!data/blockchain/block0